@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    color: black;
    font-family:'Montserrat', sans-serif;
    padding: 0;
}

body {
    background-color: #DBBEB6;
    background-image: url('../img/fundo-hor.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 80px;
}

#perfil {
    width: 153px;
    height: auto;
    z-index: -10;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    color: #2D432C;
}

section {
    display: flex;
    height: 44vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.botao {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-color: #6E1146;
    height: 60px;
    width: 500px;
    margin: 0px auto;
}

i {
    position: absolute;
    left: 20px;
    font-size: 1.2em;
    color: #ebdee5;
}

.fa-tiktok {
    font-size: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 70px;
    height: auto;

}

@media (max-width: 700px) {
    body {
        background-image: url('../img/fundo-ver.webp');
    }

    #perfil {
        width: 193px;
    }

    .botao {
        width: 70%;
    }
    
}
